<h3>Demo of Directive</h3>
<div style="text-align:center" appChangeText class="card card-block">
  <p class="card-text" [style.display]="'none'">Welcome to {{title}}.</p>
</div>
<br/>
<div>
  <h3>Emoji demo</h3>
  <input type="text" [ngModel]='event' (ngModelChange)="colons.value=$event" emojis placeholder=" Enter Emoji here" class="form-control">

  <emoji-mart title="Pick your emoji…" emoji="point_up" (emojiSelect)="handleClick($event)"></emoji-mart>
</div>
<!-- <ngx-emoji [emoji]="{ id: 'santa', skin: 3 }" size="16"></ngx-emoji>
<ngx-emoji emoji=':santa::skin-tone-3:' size="16"></ngx-emoji> -->
<!-- <ngx-emoji emoji='{{id}}' size="26" tooltip='true' [fallback]="emojiFallback"></ngx-emoji>
 -->

<ul>
  <ng-template ngFor let-item [ngForOf]="itemss">
    <ngx-emoji emoji='{{item}}' size="26" tooltip='true' [fallback]="emojiFallback"></ngx-emoji>
  </ng-template>
</ul>

<div class="message-container" [innerHTML]="messageString | emojis">
</div>
<h3>Demo of file type directive</h3>
<app-file></app-file>
<br/>
<h3>Demo of pipe</h3>
<async-promise-pipe></async-promise-pipe>
<br/>

<h3>Demo of directive</h3>
<input type="text" appRainbow style="display:block;width:820px;height:20px">
<br/>
<!-- <h3>Demo of Autocomplete textview</h3>
<app-autocomplete></app-autocomplete>
<br/> -->
<h3>Demo of @Input/@Output</h3>
<div class="comp">
  <button (click)="reset()">Reset count</button>
  <div class="color-it">
    <h2>Parent component</h2>
    <div>
      count from child: {{count}}
    </div>
    <app-childcomp [parentCount]="countvalue" (incrementedvalue)="updateFromChild($event)"></app-childcomp>
  </div>

</div>

<br/>
<h3>ViewChild Demo</h3>
<span appBacon>sandwich!</span>

<br/>
<h3>Ur favorite pizza topping</h3>
<input #someInput placeholder="Your favorite pizza toping">

